<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some random website</title>

    <link rel="stylesheet" href="styles/general.css">
    {% block specific_styles %}
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Piotr Muzyczuk - <a href="https://pmuz.dev">pmuz.dev</a> 2019</p>
    </footer>
</body>
</html>