{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="styles/index.css">
{% endblock %}

{% block content %}
    <h1>Welcome to this test page</h1>
    <p>Very happy to see you here</p>
    <section>
        <h2>Wanna get some fun?</h2>
        <p>Visit your local theme park, of course!</p>
    </section>
{% endblock %}