{% extends 'base.html' %}

{% block specific_styles %}
    <link rel="stylesheet" href="styles/release.css">
{% endblock %}

{% block content %}
    <h1>Releases</h1>

    <section>
        <section>
            <h2>0.1</h2>
            <p>Important changes:</p>
            <ul>
                <li>Added first functionality</li>
                <li>First logo design in place</li>
            </ul>
        </section>

        <section>
            <h2>0.2</h2>
            <p>Important changes:</p>
            <ul>
                <li>Added second functionality</li>
                <li>Fixed a few bugs</li>
                <li>Added new color scheme</li>
            </ul>
        </section>
    </section>
{% endblock %}